footer img{
  margin: 10px 10px 10px 10px;
  width: 50px;
}

body{
  background-color: rgba(255, 255, 160, .5);
}

.containar h2{
  margin: 3px,0,0,0;
}

.row{
  padding: 0px,3px,0px,3px;
}

.create a img{
  height: 110px;
}
