header{
  position: fixed;	/* ヘッダーを固定する */
  top: 0;	/* 上部から配置の基準位置を決める */
  left: 0;	/* 左から配置の基準位置を決める */
  width: 100%;	/* ヘッダーの横幅を指定する */
  height: 25px;	/* ヘッダーの高さを指定する */
  padding: 10px;	/* ヘッダー内側の余白を指定する(上下左右) */
  color: #000000;	/* ヘッダーのフォントの色を指定する */
  background-color: #808080;
  background-size: auto;
}

.content-bg{
  width: 100%;
  height: auto;
  background-image: url(images/top_bg.jpg);
  background-repeat: no-repeat;
}
.content{
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

.mgl{
    margin-left: 10px;
}

.title{
  padding: 5px;	/* ヘッダー内側の余白を指定する(上下左右) */
  font-family: Impact;
  font-size: 40px;
  font-style: italic;
}
